<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css/?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/Content/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/css/plyr.css">
    <link href="/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/Content/css/themify-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- icons -->
    <link rel="icon" type="image/png" href="img/LOGO.ico" sizes="64x64">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Đặt vé xem phim</title>
    @RenderSection("Styles", false)
</head>

<body class="body">
    <!-- header -->
    @Html.Partial("_Header")
    <!-- end header -->
    @RenderBody()
    <!-- footer -->
    @Html.Partial("_Footer")
    <!-- end footer -->
    <!-- JS -->
    <script src="/Content/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.mousewheel.min.js"></script>
    <script src="/Content/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/Content/js/wNumb.js"></script>
    <script src="/Content/js/nouislider.min.js"></script>
    <script src="/Content/js/plyr.min.js"></script>
    <script src="/Content/js/jquery.morelines.min.js"></script>
    <script src="/Content/js/photoswipe.min.js"></script>
    <script src="/Content/js/photoswipe-ui-default.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="/Scripts/Common.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
@RenderSection("Scripts", false)
</html>
