@using WebsiteDatVeXemPhim
@using WebsiteDatVeXemPhim.EF
@{
    ViewBag.Title = "BookingTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .picked_seat:before {
            background-color: #aaa !important;
        }
    </style>

}

<div id="BookingTicket" style="display:none">
    <!-- page title -->
    <section class="section section--first section--bg" data-bg="img/section/section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <!-- section title -->
                        <h2 class="section__title">Đặt vé</h2>
                        <!-- end section title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- book__ticket -->
    <div class="book__ticket">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="book__ticket__content">
                        <div class="book__ticket__items">
                            <!-- book__ticket item -->
                            <div class="book__ticket__item" id="book__ticket__quality">
                                <span class="book__ticket__item-label">Rạp</span>

                                <div class="book__ticket__item-btn dropdown-toggle" role="navigation" id="book__ticket-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="CGV Cinemas">
                                    <span></span>
                                </div>

                                <ul class="book__ticket__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="book__ticket-quality">
                                    <li>CGV Cinemas</li>
                                    <li>Galaxy Cinema</li>
                                    <li>Lotte Cinema</li>
                                    <li>BHD Star Cineplex</li>
                                </ul>
                            </div>
                            <!-- end book__ticket item -->
                            <!-- book__ticket item -->
                            <div class="book__ticket__item" id="book__ticket__cinema">
                                <span class="book__ticket__item-label">Địa điểm</span>

                                <div class="book__ticket__item-btn dropdown-toggle" role="navigation" id="book__ticket-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="TP. HCM">
                                    <span></span>
                                </div>

                                <ul class="book__ticket__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="book__ticket-quality">
                                    <li>TP. HCM</li>
                                    <li>Hà Nội</li>
                                    <li>An Giang</li>
                                    <li>Cần Thơ</li>
                                </ul>
                            </div>
                            <!-- end book__ticket item -->
                            <!-- book__ticket item -->
                            <div class="book__ticket__item" id="book__ticket__date">
                                <span class="book__ticket__item-label">Ngày chiếu</span>

                                <div class="book__ticket__item-btn dropdown-toggle" role="navigation" id="book__ticket-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="27/10/2020">
                                    <span></span>
                                </div>

                                <ul class="book__ticket__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="book__ticket-quality">
                                    <li>27/10/2020</li>
                                    <li>28/10/2020</li>
                                    <li>29/10/2020</li>
                                    <li>30/10/2020</li>
                                    <li>31/10/2020</li>
                                    <li>1/11/2020</li>
                                </ul>
                            </div>

                            <!-- end book__ticket item -->
                            <!-- book__ticket item -->
                            <div class="book__ticket__item" id="book__ticket__time">
                                <span class="book__ticket__item-label">Suất chiếu</span>

                                <div class="book__ticket__item-btn dropdown-toggle" role="navigation" id="book__ticket-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="7:00 AM">
                                    <span></span>
                                </div>

                                <ul class="book__ticket__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="book__ticket-quality">
                                    <li>7:00 AM</li>
                                    <li>8:00 AM</li>
                                    <li>8:00 AM</li>
                                    <li>10:00 AM</li>
                                    <li>11:00 AM</li>
                                    <li>12:00 PM</li>
                                </ul>
                            </div>
                            <!-- end book__ticket item -->
                            <!-- book__ticket item -->
                            <div class="book__ticket__item" id="book__ticket__time">
                                <span class="book__ticket__item-label">Phòng</span>

                                <div class="book__ticket__item-btn dropdown-toggle" role="navigation" id="book__ticket-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="001">
                                </div>
                            </div>
                            <!-- end book__ticket item -->
                        </div>
                    </div>



                    <table class="seats__list">
                        <thead>
                        <th></th>
                        <th v-for="item in listCotSo"> {{ item }} </th>
                        </thead>

                        <tbody>
                            <tr v-for="(itemListHang, indexHang) in listHang" :data-value="indexHang">
                                <td> {{ itemListHang.alphabet }}</td>
                                <td v-for="(itemHang, indexCot) in itemListHang.itemHangs" :data-value="indexCot">
                                    <input type="radio" name="seat" class="seats" v-bind:class="{'picked_seat': itemHang.TrangThai === @((int)Ve.TK.daban)}" :disabled="itemHang.TrangThai === @((int)Ve.TK.daban)">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- screen -->
                    <div class="screen">
                        <h3 class="wthree">Screen this way</h3>
                    </div>
                    <!-- end screen -->
                    <!-- book__ticket btn -->
                    <button class="book__ticket__btn" v-on:click="bookingTicket()">Đặt vé ngay</button>
                    <!-- end book__ticket btn -->

                </div>
            </div>
        </div>
    </div>
    <!-- end book__ticket -->
</div>
@{
    var session = (NguoiDung)Session[WebsiteDatVeXemPhim.Common.CommonConstants.USER_SESSION];
}

@section Scripts {
    <script>
        var idLichChieu = @ViewBag.idLichChieu;
        var idPhim = @ViewBag.idPhim;
        var userName = "@session.UserName";
    </script>
    <script src="/Scripts/Homepage/BookingTicket.js"></script>
}
